html, body{
    background: rgb(204,217,222);
}


h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
}

.pure-u-1 img{
    width: 100vw;
}

.header {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 15px;
}

#text{
    font-family: 'Lato', sans-serif;
    text-align: left;

}

.pure-u-1-2 {
    margin-top: 30px;
    height: 30vw;
}

.pure-u-1-2 #chart1{
    margin-right: 10%;



}

.pure-u-1-2 #chart2{
    margin-left: 10%;

}

.pure-u-1-2 #t1,#h1{
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Lato', sans-serif;
}


.pure-u-1-2 #t2,#h2{
    margin-right: 15%;
    font-family: 'Lato', sans-serif;
}

.pure-u-1-2 #t4,#h4{
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Lato', sans-serif;
}


.data{
    font-style: italic;
    color: #999999;
}

.left{
    margin-left: 10%;
}

#chart3_header
{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#footer{
    font-family: 'Lato', sans-serif;
    text-align: right;
    margin-right: 5%;
    margin-top: 100px;
    font-style: italic;
    color: #999999;
}

.carbon{
    color: #ff9900;
}

.temp{
    color: red;
}

.sea{
    color: #00a4ff;
}

a{
    color: #999999;
}
